* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
}

.burger-menu {
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 4px;
    background-color: black;
    opacity: 1;
    transition: transform 1s, opacity 0.5s;
    transform-origin: left;
    border-radius: 2px;
}

.open .bar:nth-child(1) {
    transform: rotate(45deg);
    /* animation: first-bar 1s forwards; */
}

.open .bar:nth-child(2) {
    opacity: 0;
    /* animation: second-bar 1s forwards; */
}

.open .bar:nth-child(3) {
    transform: translateY(5.5px) rotate(-45deg);
    /* animation: third-bar 1s both running; */
}

/* @keyframes first-bar {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(45deg);
    }
}

@keyframes third-bar {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-45deg);
    }
} */