<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>CSS Layouts</title>
        <link rel="stylesheet" href="grid.css">
        <!-- <link rel="stylesheet" href="flex.css"> -->
        <!-- <link rel="stylesheet" href="inline-block.css"> -->
        <!-- <link rel="stylesheet" href="position.css"> -->
    </head>
    <body>
        <div class="container">
            <nav></nav>
            <div class="dashboard">
                <header>Header</header>
                <main>
                    <section class="panel-left">
                        <div class="row1">
                            <span>s</span>
                            <span>a</span>
                            <span>a</span>
                        </div>
                        <div class="row2">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </section>
                    <section class="panel-right">
                        <div class="row1">
                            <span>a</span>
                            <span>a</span>
                            <span>a</span>
                            <span>a</span>
                            <span>a</span>
                            <span>a</span>
                        </div>
                    </section>
                </main>
                <footer>Footer</footer>
            </div>
        </div>
    </body>
</html>
