<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Understanding Focus ring for Grid items</title>
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }

        a {
            /* display: block; */
            background-color: aquamarine;
        }

        a:focus {
            outline: 1px solid red;
            outline-offset: 0px;
        }
    </style>
</head>
<body>
    <div class="grid">
        <a href="#">0</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
    </div>
</body>
</html>