* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --body-bg: rgb(2, 56, 127);
  --button-border: rgba(218, 218, 218, 0.752);
  --button-highlight: white;
  --button-text: white;
  --button-width: 180px;
  --button-height: 60px;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: var(--body-bg);
  padding: 5%;
}

.group {
  display: flex;
  gap: 10px;
}

button {
  font-size: 16px;
  color: var(--button-text);
  width: var(--button-width);
  height: var(--button-height);
  cursor: pointer;
}

.glitter {
  background: transparent;
  border: unset;
  transition: all 1s ease-in-out;

  position: relative;
}

.glitter .border {
  fill: none;
  stroke-width: 1;

  position: absolute;
  left: 0;
  top: 0;
}

.bg-line {
  stroke: var(--button-border);
}

.highlight-line {
  stroke: var(--button-highlight);
  stroke-dasharray: 50 480;
  stroke-dashoffset: 50;
  transition: all 1s ease-in-out;
}

.glitter:hover {
  background: rgba(107, 106, 106, 0.245);
}

.glitter:hover .highlight-line {
  stroke-dashoffset: -480;
}