.box {
    width: 100px;
    height: 100px;
}

/* .box {
    background-color: gray;
}

[aria-label="box"] {
    background-color: black;
} */

.box:nth-of-type(even) {
    background-color: gray;
}

/* body #boxId {
    background-color: orange;
}

#boxId {
    background-color: red;
}

* {
    background-color: brown;
} */