<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Layouts</title>
    <!-- <link rel="stylesheet" href="grid.css"> -->
    <!-- <link rel="stylesheet" href="flex.css"> -->
    <link rel="stylesheet" href="inline-block.css">
</head>
<body>
    <div class="container">
        <nav>Navbar</nav>
        <div class="dashboard">
            <header>Header</header>
            <main>
                <section class="left-panel">
                    <div class="row1">
                        <span>a</span>
                        <span>a</span>
                        <span>a</span>
                    </div>
                    <div class="row2">
                        <span>a</span>
                        <span>a</span>
                    </div>
                </section>
                <section class="right-panel">
                    <div class="row1">
                        <span>a</span>
                        <span>a</span>
                        <span>a</span>
                        <span>a</span>
                        <span>a</span>
                        <span>a</span>
                        <span>a</span>
                        <span>a</span>
                    </div>
                </section>
            </main>
            <footer>footer</footer>
        </div>
    </div>
</body>
</html>