* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
}

.image-text {
    background-color: lightgrey;
    padding: 10px;
    margin: 10px;
    /* width: 100%;
    display: block; */
    vertical-align: center;
    /* display: flex; */
}

.image-text img {
    border-radius: 50%;
}

/*
.image-text span {
    display: inline-block;
    vertical-align: top;
} */



