* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
   --size: 200px;
}

.scene {
    margin: 100px;
    width: var(--size);
    height: var(--size);

    perspective: 600px;
}

.cube {
    position: relative;
    width: var(--size);
    height: var(--size);

    transform-style: preserve-3d;
    transform: rotateY(45deg);
}

.cube-face {
    position: absolute;
    width: var(--size);
    height: var(--size);
    background-color: red;
    opacity: 0.5;
}

.cube-front {
    background-color: blue;
    transform: translate3d(0, 0, 100px);
}

.cube-back {
    background-color: green;
    transform: rotateY(180deg) translate3d(0, 0, 100px);
}

.cube-left {
    background-color: lightblue;
    transform: rotateY(-90deg) translate3d(0, 0, 100px);
}

.cube-right {
    background-color: grey;
    transform: rotateY(90deg) translate3d(0, 0, 100px);
}

.cube-top {
    background-color: goldenrod;
    transform: rotateX(-90deg) translate3d(0, 0, 100px);
}

.cube-bottom {
    background-color: maroon;
    transform: rotateX(90deg) translate3d(0, 0, 100px);
}