<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Elements</title>
</head>
<body>
    <!-- Display values
- outer - specifies element’s outer display, wrt Flow layout - block, inline
- inner - specifies inner display type, defines type of formatting cxt that its contents are laid out - flex, grid, table

Run-in is a old display type and not supported in latest browsers.

Next: Understand Formatting Context from CSS spec -->
</body>
</html>