* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(64, 64, 64);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.candle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.candle-bar {
    width: 70px;
    height: 150px;
    background-color: white;
    margin: 0 auto;
}

.candle-bar::after {
    content: '';
    display: block;
    width: 15px;
    height: 150px;
    margin-left: 80%;
    background-color: rgb(220, 220, 220);
}

.thread {
    width: 3px;
    height: 10px;
    background-color: antiquewhite;
}

.flame {
    width: 20px;
    height: 30px;
    background-color: rgb(243, 184, 9);

    animation: wind 15s ease-in-out infinite, 
			size 20s ease-in-out infinite, 
			flickr 5s ease-in-out infinite;
	transform-origin: 50% 100%;
}

.plane {
    width: 200px;
    height: 10px;
    background-color: black;
}

@keyframes wind {
	0%, 22%, 49%, 62%, 81%, 100% {
		border-radius: 2px 14px 8px 8px / 20px 20px 8px 8px;
	}
	14%, 32%, 56%, 70%, 89% {
		border-radius: 14px 2px 8px 8px / 20px 20px 8px 8px;
	}
}

@keyframes size {
	0%, 22%, 49%, 62%, 81%, 100% {
		transform: scale(1,1);
	}
	14%, 32%, 56%, 70%, 89% {
		transform: scale(0.9, 1.2);
	}
}

@keyframes flickr {
	0%, 22%, 49%, 62%, 81%, 100% {
		box-shadow: 0 0 25px 0 rgba(255,202,0,0.7);
	}
	14%, 32%, 56%, 70%, 89% {
		box-shadow: 0 0 25px 0 rgba(255,202,0,.8);
	}
}