<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Flex</title>
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        .container {
            display: flex;
            gap: 10px;
        }

        .left {
            flex-basis: 200px;
            flex-grow: 0;
            /* By default shrink is 1, that's why shrinking */
            flex-shrink: 0; 
            background-color: lightgray;
        }

        .right {
            flex: auto;
            background-color: gray;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="left">a</div>
        <div class="right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, totam.</div>
    </div>
</body>
</html>