<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Elements</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="block">a</div>
    <div class="inline">b</div>
</body>
</html>



<!-- Notes:
Block & Inline elements
- Elements with content
- Elements with width, height - No effect on Inline
- Margin, padding
    - Inline
      - Margin horizontal works, vertical not effect
      - Padding horizontal works, vertical overlaps with above element


Next: 
Understand these elements no content, why browser renders this way.
 -->