* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.static-pos {
    position: static;
    top: 50px;
    left: 100px;
    background-color: lightgray;
    width: 100px;
    height: 100px;
}

.relative-pos {
    position: relative;
    top: 50px;
    left: 100px;
    background-color: gray;
    width: 100px;
    height: 100px;
}

.absolute-pos {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: gray;
    width: 100px;
    height: 100px;
}

.sticky-pos {
    position: sticky;
    top: 0;
    background-color: red;
    width: 100px;
    height: 100px;
}