<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Writing modes</title>
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        .writingMode {
            writing-mode: vertical-rl;
        }
    </style>
</head>
<body>
    <div class="writingMode">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dolorem aperiam iure 
        a blanditiis officiis veritatis consequuntur doloribus odio perspiciatis!
    </div>
    <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, placeat!</div>
</body>
</html>