<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>CSS Layouts</title>
        <!-- <link rel="stylesheet" href="grid-flex.css"> -->
        <!-- <link rel="stylesheet" href="grid.css"> -->
        <link rel="stylesheet" href="inline-block.css">
    </head>
    <body>
        <div class="container">
            <nav>Nav</nav>
            <div class="dashboard">
                <header></header>
                <main>
                    <aside class="panel-left">ll
                    </aside>
                    <section class="panel-right">
                        <div class="row1">
                            <aside>a</aside>
                            <aside>a</aside>
                            <aside>a</aside>
                        </div>
                        <div class="row2">
                            <aside>a</aside>
                            <aside>a</aside>
                            <aside>a</aside>
                            <aside>a</aside>
                        </div>
                    </section>
                </main>
                <footer></footer>
            </div>
        </div>
    </body>
</html>
