* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.container {
    width: 50%;
    height: 100%;
    display: flex;
    background-color: grey;
}

/* Block elements by default take width of its container,
 so use inline or inline-block for content width */
.block {
    /* display: inline; */
    background-color: lightgray;
}